.wrapper {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: myAnim 1s ease 0s 1 normal forwards;

}

@keyframes myAnim {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.text {
  font-family: 'Ubuntu';
  font-size: 60px;
  color: #471ca9;
  margin-bottom: 20px;
}

.button {
  cursor: pointer;
  width: 196px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  gap: 6px;

  margin-left: auto;
  margin-right: auto;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  text-transform: uppercase;

  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: linear-gradient(114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99%);
}

.button:hover {
  color: #471ca9;
  background: #fff;
  outline: 1px solid #471ca9;
  transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
