.back {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 140px;
    height: 30px;
    border-radius: 7px;
    background: linear-gradient(114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99%);
    transition: 750ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .back:hover {
    color: #471ca9;
    background: #fff;
    outline: 1px solid #471ca9;
  }

  .arrow_left {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px 0 32px;

  }

  .select {
    width: 200px;
    height: 30px;

    font-size: 16px;
    font-family: "Montserrat";
  }